<!--suppress JSAnnotator -->
<template>

    <div id="calculator">
        <div v-if="error">
            {{ error }}
        </div>
        <div id="result">
            <span>{{ valueDisplayed }}</span>
        </div>
        <div id="pad">
            <button class="btn" id="clear" @click="clear">C</button>
            <button class="btn" @click="handleOp('/')">/</button>
            <button class="btn" @click="handleDigit(7)">7</button>
            <button class="btn" @click="handleDigit(8)">8</button>
            <button class="btn" @click="handleDigit(9)">9</button>
            <button class="btn" @click="handleOp('*')">*</button>
            <button class="btn" @click="handleDigit(4)">4</button>
            <button class="btn" @click="handleDigit(5)">5</button>
            <button class="btn" @click="handleDigit(6)">6</button>
            <button class="btn" @click="handleOp('-')">-</button>
            <button class="btn" @click="handleDigit(1)">1</button>
            <button class="btn" @click="handleDigit(2)">2</button>
            <button class="btn" @click="handleDigit(3)">3</button>
            <button class="btn" @click="handleOp('+')">+</button>
            <button id="zero" class="btn" @click="handleDigit(0)">0</button>
            <button id="equal" class="btn" @click="handleOp('=')">=</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "calculator",
        data: function () {
            return {
                currentValue: 0,
                savedValue: false,
                currentOp: false,
                error: null
            }
        },
        methods: {
            clear: function() {
                this.currentValue = 0;
                this.savedValue = false;
                this.currentOp = false;
            },
            handleDigit: function (digit) {
                if (this.currentOp === '=') {
                    this.savedValue = false;
                }
                this.currentValue = this.currentValue * 10 + digit;
            },
            handleOp: function (op){
                if (this.currentOp) {
                    this.process();
                }
                else {
                    this.savedValue = this.currentValue
                }
                this.currentValue = 0;
                this.currentOp = op;
            },
            process: function () {
                if (['-', '*', '/', '+'].includes(this.currentOp)) {
                    this.calculate();
                }
                else if (this.currentOp === '=' && this.currentValue) {
                    this.savedValue = this.currentValue;
                }
                this.reset();
            },
            calculate: function () {
                const data = {
                    expression: this.savedValue + this.currentOp + this.currentValue
                };
                this.$http.get('/calculate', { params: data }).then(response => {
                    this.savedValue = response.body.result;
                }, response => {
                    this.showErrorMessage(response.body.error_message);
                })
            },
            reset: function () {
                this.currentValue = 0;
                this.currentOp = false;
            },
            showErrorMessage: function (message) {
                this.error = message;
                setTimeout(() => {
                    this.error = null;
                }, 5000)
            }
        },
        computed: {
            valueDisplayed: function  () {
                return this.savedValue ?
                    this.currentValue ?
                        this.currentValue : this.savedValue
                    : this.currentValue
            }
        }
    }
</script>

<style scoped>
html
{
    background: #CCC;
    font-family: sans-serif;
}
body{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    border: 2px solid #222;
    border-radius: 4px;
    max-width: 350px;
}

#result {
    font-size: 42px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    display: grid;
    padding: 10px;
    justify-items: end;
    align-items: center;
    border-bottom: 2px solid #222;
}

#pad {
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-gap: 10px;
    padding: 15px;
}

.btn {
    cursor: pointer;
    font-size: 20px;
    display: grid;
    padding: 15px 10px;
    justify-items: center;
    align-items: center;
    color: #FAFAFA;
    border: 1px solid #222;
    border-radius: 4px;
    background: #777;
}

#clear {
    background: steelblue;
    grid-column: 1/4;
}

#zero{
    grid-column: 1/4;
}

#equal{
    background: seagreen;
}

</style>